<p style="color: green" ><%= notice %></p>

<section class="mt-5"> 

  <div class="card bg-light  p-3">
      <div class="card-body">
        <%= render @tweet %>
      </div>
      <div>
        <%= link_to "Edit this tweet", edit_tweet_path(@tweet), class: 'p-3 my-4' %> 
        <br>
        <%= link_to "Back to tweets", tweets_path, class: 'p-3 my-2' %>

        <%= button_to "Destroy this tweet", @tweet, method: :delete, class: 'btn btn-primary ms-3 my-2' %>
      </div>
  </div>


  

</section>